.graduatedashboard{
  margin-top: 20px; 
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.graduatedashboard div{
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
