

.registertitleWrapper{
  margin-top: 60px;
  margin-bottom: 60px;
}

.RegisterWrapper{
  margin-top:30px;
}


/* need to enlarge the image
need to make the textfield white
need to make the image in the background
need to make it responsive */