.graduateprofile{
  margin-top: 20px; 
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.graduateprofile p{
  color: black;
}

.graduateprofile h3{
  color: black;
}

.graduateprofile:hover{
  background-color: lightgrey;
}