.signinBlock{
  position: absolute;
  float: left;
  height: 100vh;
  background-color: #011548;
  width: 30%;
  margin-left:80px;
  z-index: 1;
}
span{
  display:block;
}

.container{
  margin-left:50px;
}

.logo{
  margin-top: 60px;
}

.titleWrapper{
  margin-top: 100px;
  margin-bottom: 80px;
}

.subtitle{
font-family: IBMPlexSans-SemiBold;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;
}

.title{
font-family: IBMPlexSans-SemiBold;
font-size: 35px;
color: #FFFFFF;
letter-spacing: 0;
}

.input{
font-family: IBMPlexSans-Light;
font-size: 18px;
color: #FFFFFF !important;
letter-spacing: 0;
width: 80%;
}

.loginButton{
font-family: IBMPlexSans-Light;
font-size: 18px;
color: #F28E5B;
letter-spacing: 0;
  padding: 15px 35px 15px 35px;
  border: 1px solid #F39D58;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: transparent;

}

.loginWrapper{
  margin-top:70px;
}

.backgroundImage{
  position: absolute;
  float: right;
  height:100vh;
  right:0;
  bottom:0;
  width:auto;
  z-index: -1;
  padding-top:100px
}

.link a{
text-decoration: none;
font-family: IBMPlexSans-Light;
font-size: 16px;
color: #F28E5B !important;

}

.space {
  padding-top:30px !important;
}

/*
=====
Input Color
=====
*/

.field{
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor,white);
  margin-bottom:30px;
  width: 80%;
}

.field__input{ 
  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: IBMPlexSans-Light;
  font-size: 16px;
  color: white;

}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: white;
  opacity: 1;
}



.a-field{
  display: inline-block;
  color: white;
}

.a-field__input{ 
  display: block;
  box-sizing: border-box;
  width: 100%;
  color: white;
}

.a-field__input:focus{
  outline: none;
  color: white;
}


.a-field{
  color: white;
  --uiFieldHeight: var(--fieldHeight, 40px);  
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;  
}

.a-field .a-field__input{
  color: white;
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
}

.a-field .a-field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
  color: white;
}

.a-field .a-field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
  color: white;
}

.a-field .a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label{
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
  color: white;
}

.a-field .a-field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
  color: white;
}

.a-field .a-field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
  color: white;
}

.a-field .a-field__label-wrap{
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight);	

  pointer-events: none;
  cursor: text;

  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}

.a-field .a-field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - .5em);

  line-height: 1;
  font-size: var(--uiFieldHintFontSize);

  pointer-events: none;
  transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
  will-change: bottom, opacity;
  color: white;
}

.a-field .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
  opacity: 1;
  bottom: var(--uiFieldHeight);
  color: white;
}


.a-field_a1 .a-field__input{
  transition: border-color .2s ease-out;
  will-change: border-color;
  color: white;
}

.a-field_a1 .a-field__input:focus{
  border-color: var(--fieldBorderColorActive);
  color: white;
}



.a-field_a2 .a-field__label-wrap:after{
  content: "";
  box-sizing: border-box;
  width: 0;
  height: var(--uiFieldBorderWidth);
  background-color: var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;  

  will-change: width;
  transition: width .285s ease-out;
  color: white;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap:after{
  width: 100%;
  color: white;
}



.a-field_a3{
  padding-top: 1.5em;
  color: white;
}

.a-field_a3 .a-field__label-wrap:after{
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;

  opacity: 0;
  border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;

  will-change: opacity, height;
  transition: height .2s ease-out, opacity .2s ease-out;
  color: white;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap:after{
  height: 100%;
  opacity: 1;
  color: white;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
  bottom: calc(var(--uiFieldHeight) + .5em);
  color: white;
}



.field{
  --fieldBorderColor: white;
  --fieldBorderColorActive: white;
  color: white;
}


/* need to enlarge the image
need to make the textfield white
need to make the image in the background
need to make it responsive */

@media (min-width: 480px) and (orientation: landscape)
 {
  body {
    background-color: olive;
  }
  .signinBlock{
    position: absolute;
    height: 100vh;
    background-color: #011548;
    width: 100%;
    margin-left:80px;
    z-index: 1;
  }
}