

.navWrapper{
  top: 0;
  overflow: hidden;
  display: block;
  padding: 10px;
  height:auto;
  width:100vw;
  position:fixed;
  background-color: #011548;
  z-index: 20;
}

.navlogo{
  padding: 30px;
  float:left;
}

.menu{
  margin-top: 20px;
  margin-right: 50px;
  float: right;
  font-family: IBMPlexSans-Light;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
}

.menu a{
  display: inline;
}
