body{
  text-decoration: none !important;
  background-color: #F18048;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1{
font-family: IBMPlexSans-SemiBold;
font-size: 35px;
color: #011548;
letter-spacing: 0;
}

h2{
  font-family: IBMPlexSans;
  font-size: 12px;
  color: #011548;
  letter-spacing: 1.29px;
}

h3{
font-family: IBMPlexSans-Light;
font-size: 12px;
color: #FFFFFF;
letter-spacing: 1.29px;
}

h4{
font-family: IBMPlexSans-Light;
font-size: 18px;
color: #000000;
letter-spacing: 0;
}

p{
font-family: IBMPlexSans-Light;
font-size: 16px;
color: #979797;
letter-spacing: 0;
}

a{
  text-decoration:none;
}